<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" style="color: white;">Recetario</a>
</nav>
<br />
<div class="container card border">
	<h1 class="text-center">Receta</h1>
	<div class="card-body">
		<div class="btn-group">
			<button type="button" class="btn btn-secondary" style="margin-right: 5px">Imprimir</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-success" style="margin-right: 5px">Whatsapp</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-info">E-Mail</button>
		</div>
		<br /><br />

		<div class="form-row">
			<label for="comment">Vista previa:</label>
		</div>
		<div class="form-row" style="    text-align: center;
		display: block;">
			<div class="card">
				<div class="bg-image hover-overlay" mdbRipple rippleColor="light">
					<img [src]="image" class="img-fluid" />
					<a>
						<div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>